#destCard {
  position: relative;
  padding: 0px;
  text-decoration: none;
  height: 50%;
  width: 100%;
  /* transition: all 0.5s;
  transition-timing-function: ease-out;
  transition-property: width; */
}

#vidContainer {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#destVideo {
  width: 100%;
}

#cardGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: #ffffff00;
  }
}

#destName {
  color: #fff;
  position: absolute;
}

.contact-item {
  padding-inline: 10px;
  & a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.partners-container {
  display: flex;
  align-items: center;
}
.partner {
  width: 10%;
  height: 10%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 100%;
  }
}
