body {
  height: 100%;
}

a {
  cursor: pointer;
}

#home {
  height: 95vh; 
  display:flex; 
  align-items:center; 
  justify-content:space-around;
}

.banner-image {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */

  & img {
    object-position: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .banner-gradient {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #00000078, #00000000);
    background-color: #00000078;
  }
}

#bookingResultItem {
  height: 100px; 
  width: 100%; 
  overflow: hidden;
}

#bkResImage {
  height: 80%;
  width: 10%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

/* Events */
#eventsCarousel {
  height: fit-content;
}

/* Destinations */
#destinations {
  height: fit-content;
}

#dest-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#destCard {
  position: relative;
  padding: 0px;
  text-decoration: none;
}

#vidContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#destVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#cardGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: #ffffff00;
  }
}

#destName {
  position: absolute;
  width: 100%;
  margin: 0px;
}

/* About Us */
#about {
  height: fit-content;
  margin-bottom: 100px;
}


/* ========== Destino.php ========== */

/* service cards */
.servcard {
  height: fit-content;
  overflow: hidden;
}

#servCardWrapper {
  height: 100%;

   #servImage {
    height: 100%;
    max-height: 200px;
    overflow: hidden;
  
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .card-body {
    height: 100%;
    
    #servDesc {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      max-height: 50%;
      text-overflow: ellipsis;
    }
    .card-text {
      margin-bottom: 2px;
    }
  }
}


/* hotel cards */
#htlCard {
  max-width: 300px;
  max-height: 500px;
  padding: 0px;
  overflow: hidden;

  .card-body {
    height: fit-content;
  }
}

#htlImage {
  height: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#htlDesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: fit-content;
  /* max-height: 50%; */
  word-wrap: break-word;
  text-overflow: ellipsis;
}

/***************** FOOTER *****************/
/* Contacts */
.contact-items {
  display: flex;
  flex-direction: column;
}

.contact-item {
  justify-content: space-between;
  /* padding-inline: 10px; */

  & img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }

  & a {
    font-size: .8rem;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.partners-container {
  display: flex;
  align-items: center;
}

.partner {
  width: 10%;
  height: 10%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
  }
}