@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --font-primary: "Montserrat", "Arial", sans-serif;
  --font-body: "Lato", "Arial", sans-serif;
  --color-primary: #8d6cc7;
  --color-primary-dark: darken($color-primary, 3%);
  --color-light-gray: #dae2f1;
  --header-height: 60px;
}

* {
  font-family: "Montserrat", "Arial", sans-serif;
  box-sizing: border-box;
}

.fixed-header {
  position: fixed;
  min-height: fit-content;
  height: var(--header-height);
  width: 100%;
  align-items: center;
  display: flex;
  background-color: #fff;
  z-index: 2;

  & h3 {
    /* font-size: 0.9em; */
    font-weight: 500;
    margin-left: 20px;
    text-wrap: pretty;
    max-width: 50%;
  }
}

.header-logo {
  width: 200px;
  height: 33px;
  margin-left: 20px;
}

#account-btn {
  position: absolute;
  right: 20px;
  border: 2px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);

  & img {
    padding-inline: 10px;
  }
}

body {
  margin: 0;
  padding: 0px;
  width: 100%;
}

button,
li {
  cursor: pointer;
}

.top-body {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  display: flex;
}

/*################## Offers ##################*/
.offers_slideshow {
  margin-top: var(--header-height);
  min-height: inherit;
  width: 100vw;
  min-width: fit-content;
  background-color: white;
  display: flex;
}

.offer-image {
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
}

.offer-description {
  position: absolute;
  width: fit-content;
  padding: 40px 40px;
  color: white;

  /* "Special Offers" */
  & h2 {
    margin: 0px;
  }
  /* Offer Name */
  & h1 {
    font-size: 5em;
    margin: 0px;
    padding-bottom: 10px;
  }

  & h3 {
    max-width: 50%;
  }
}

/*############# Create reservation #############*/
.create-reservation {
  /* position: absolute; */
  top: 80%;
  left: 100px;

  & span {
    color: #fff;
  }
  & button {
    margin-left: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: var(--font-primary);
    border: 3px solid #fff;
    border-radius: 65px;
    width: 100px;
    text-size-adjust: auto;
  }
}

/*################# Filters bar #################*/
.filter-bar {
  height: 100%;
  background-color: white;
  display: block;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  padding-bottom: 20px;
}

.filtered-descriptions {
  display: block;
}

/******* User Account Tools *******/
.account-tools {
  position: fixed;
  margin-top: var(--header-height);
  min-height: fit-content;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: -420px;

  transition-property: right;
  transition-duration: 0.2s;
}

.form-bg {
  background: #fff;
  width: 420px;
  padding: 32px;
}

.login-form {
  text-transform: capitalize;
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
}

.login-input {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1px solid;
  padding: 15px 20px;
  color: #8498af;
  font-size: 0.9rem;
  transition: 0.4s;

  &:last-child {
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
  }
}

[type="submit"] {
  border-radius: 30px;
  padding: 16px 30px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: 0.4s;
  border: none;
  box-shadow: none;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.signup-divider {
  text-align: center;
  color: #c4c8d4;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  padding: 24px 0;

  &::before {
    content: "";
    display: inline-block;
    width: 27%;
    margin-right: 5%;
    height: 1px;
    vertical-align: middle;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 27%;
    margin-left: 5%;
    height: 1px;
    vertical-align: middle;
  }
}

.socialmedia-icons {
  text-align: center;
  color: #fff;

  & li {
    margin-right: 10px;
    list-style: none;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    line-height: 0.8rem;
    transition: 0.3s;
    display: relative;
    padding-top: 15px;
  }

  & li a {
    color: #fff;
    vertical-align: middle;
    text-align: center;
    top: 10px;
  }
}

li.google {
  background: #ea5859;
  &:hover {
    background: darken(#ea5859, 6%);
  }
}

li.facebook {
  background: #527ed5;
  &:hover {
    background: darken(#527ed5, 6%);
  }
}

li.twitter {
  background: #61bded;
  &:hover {
    background: darken(#61bded, 6%);
  }
}

.login {
  text-align: center;
  margin-top: 24px;
  font-size: 0.8rem;

  & a {
    margin-left: 4px;
    text-decoration: none;
    transition: 0.3s;
  }
}
