@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --font-primary: "Montserrat", sans-serif;
  --header-height: 50px;
  --theme-color: #527ed5;
  --theme-color-light: #7ca2edfe;
  --event-container-h: 650px;
}

* {
  scroll-behavior: smooth;
  font-family: var(--font-primary);

  button {
    cursor: pointer;
  }
}


body {
  margin: 0;
  padding: 0px;
  width: 100%;
}

section {
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  color: black;
  margin-inline: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  margin-bottom: 10px;
}

.anchor-button {
  text-decoration: none;
  color: white;
  background-color: var(--theme-color-light);
  padding: 10px;
  margin-left: 50%;

  transition-property: background-color;
  transition-property: padding;
  transition-duration: 0.2s;

  &:hover {
    background-color: var(--theme-color);
    padding: 15px;
  }
}

/* ############# Header ############# */
header {
  padding-bottom: 80px;
  display: block;
  width: inherit;

  & .navbar {
    top: 0px;
    position: fixed;
    width: 100%;
    /* height: var(--header-height); */
    align-items: center;
    display: flex;
    background-color: #fff;
    z-index: 3;

    /* divitour logo */
    .logo-header {
      display: flex;
      align-items: center;
      height: 100%;

      & img {
        height: 80%;
        margin-left: 20px;
      }

      & .logo-subtext {
        font-size: 0.9em;
        /* font-weight: 500; */
        margin-left: 20px;
        text-wrap: pretty;
        max-width: 50%;
      }
    }

    /* CALL TO ACTION */
    .cta-header {
      margin-inline: auto;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .cta-text {
        font-size: 16px;
        width: auto;
        text-wrap: nowrap;
        margin-right: 5px;
      }

      & .cta-btn {
        text-decoration: none;
        text-wrap: nowrap;
        color: white;
        background-color: var(--theme-color-light);
        padding: 10px;
        margin-left: 10px;

        transition-property: background-color;
        transition-property: padding;
        transition-duration: 0.2s;

        &:hover {
          background-color: var(--theme-color);
          padding: 12px;
        }
      }
    }

    .header-buttons {
      right: 10px;
      display: flex;
      align-items: center;
      min-width: fit-content;

      .nav-anchor-btn {
        text-decoration: none;
        color: white;
        background-color: var(--theme-color-light);
        margin-right: 100px;
        /* padding: 10px; */

        transition-property: background-color;
        transition-property: padding;
        transition-duration: 0.2s;

        &:hover {
          background-color: var(--theme-color);
          padding: 15px;
        }
      }

      .nav-btn {
        position: relative;
        display: block;
        color: black;
        text-decoration: none;

        & a {
          text-decoration: none;
        }

        & .nav-drop-ls {
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.69);
          width: fit-content;
          position: absolute;
          top: 45px;
          /* display: block; */

          & a {
            display: block;
            text-wrap: nowrap;
            height: fit-content;
            text-decoration: none;
            margin: 10px;
            color: white;
            transition-property: color;
            transition-duration: 0.1s;

            &:hover {
              color: #00d9ff;
            }
          }
        }
      }
    }

    #account-btn,
    #lang-btn {
      border: none;
      background-color: rgba(255, 255, 255, 0);

      & img {
        padding-inline: 10px;
      }
    }
  }

  & .header-image {
    position: relative;
    margin-top: var(--header-height);
    /* height: 900px; */
    width: 100%;
    background-color: white;
    display: flex;
    overflow: hidden;

    & img {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      overflow: hidden;
    }

    & .header-description {
      position: absolute;
      height: inherit;
      width: 50%;
      margin-left: 40px;
      color: white;

      & .head-text {
        margin-bottom: 0px;
      }

      & .desc-text {
        margin-bottom: 0px;
      }
    }
  }

  .book-now {
    position: relative;
    padding-top: 300px;
    left: 60%;
    width: 60%;

    & span {
      color: #fff;
    }

    & a {
      text-decoration: none;
      margin-left: 20px;
      padding: 10px;
      background-color: var(--theme-color-light);
      color: white;
      font-family: var(--font-primary);
      border: none;
      width: 100px;
    }
  }

  /* Contacts */
  & .contacts {
    display: flex;
    padding-block: 10px;
    padding-inline: 0px;
    justify-content: center;
    /* gap: 5%; */
    align-items: center;
    background-color: black;
    /* height: 30px; */
    width: inherit;

    & .contact-item {
      text-wrap: nowrap;
      display: flex;
      align-items: center;
    }

    & a {
      margin-left: 5px;
      color: white;
    }
  }
}

/*  Eventos  */
.upcoming-events {
  /* height: var(--event-container-h); */

  .event-container {
    position: relative;
    display: flex;
    height: var(--event-container-h);
    width: 100%;
    overflow: hidden;
    align-items: center;

    & .ev-gradient {
      position: absolute;
      width: 70%;
      height: 100%;
      align-items: center;
      background-image: linear-gradient(to right,
          white,
          rgba(255, 255, 255, 0));
    }

    & .ev-text {
      width: 70%;
      max-height: inherit;
      /* margin-left: 100px; */
      display: block;
      align-items: center;

      & .ev-title {
        margin-bottom: 20px;
      }

      & article {
        margin-bottom: 20px;
        font-weight: 400;
      }

      & p {
        font-weight: 700;
        margin-bottom: 40px;
      }

      & .ev-contact-a {
        color: white;
        background-color: black;
        padding: 10px;
        text-decoration: none;
      }
    }

    & .ev-img {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      & .ev-poster {
        margin-top: -45%;
        margin-right: -30%;
        width: 150%;
      }

      & .ev-logo {
        position: absolute;
        right: 3%;

      }
    }

    .dir-btns {
      gap: 92%;
      /* height: 70px; */
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-around;

      & .ev-slider-btn {
        height: 100%;
        /* width: 70%; */
        border: none;
        border-radius: 70px;
        background-color: #00000056;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          height: 110%;
        }

        /* & .prev {
          left: 0px;
        }
        & .next {
          right: 0px;
        } */
      }
    }
  }
}

#contact-form {
  height: fit-content;
  width: 100%;
  height: 300px;
  display: block;

  & textarea {
    width: 50%;
    height: fit-content;
  }
}

/*  Destinos  */
.destinations {
  height: 100%;
  width: 100%;

  & .pop-destinations {
    display: flex;
    /* height: 740px; */
    width: inherit;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & .dest-container {
      width: 300px;
      height: 100%;
      display: flex;
      padding-left: -100px;
      overflow: hidden;

      transition-property: width;
      transition-delay: 0.1s;
      transition-timing-function: ease-out;
      transition-duration: 0.5s;

      &:hover {
        width: 416px;
      }

      & .dest-image {
        position: relative;
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        & .dest-video {
          object-fit: cover;
          height: 100%;
          width: inherit;
        }

        & img {
          position: absolute;
          object-fit: cover;

          height: 100%;
        }
      }

      & .dest-gradient {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), #ffffff00);
        opacity: 100;
        position: absolute;
        width: inherit;
        height: 100%;
        top: 0px;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-delay: 0.2s;

        &:hover {
          opacity: 0;
        }
      }

      & .dest-name {
        color: #fff;
        margin-inline: 12%;

        text-align: center;
      }
    }
  }
}

.services {
  & .serv-container {
    display: flex;
    justify-content: center;

    & h2 {
      margin-inline: 300px;
      font-size: 2em;
    }

    .serv {
      margin-inline: 40px;
      width: 600px;
      margin-left: 40px;
    }
  }

  & .serv-img-c {
    width: 800px;
    height: 100%;
  }
}

.about-us {
  width: 100%;
  background-color: #252525;
  display: flex;
  height: 800px;
  color: white;
  padding-bottom: 0px;

  & .aboutus-text {
    display: block;
    margin-inline: 50px;
  }

  & h1 {
    padding-top: 100px;
    /* font-size: 70px; */
    color: white;
  }

  & p {
    font-size: 24px;
  }
}

footer {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #252525;

  & h1 {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: white;
  }

  & .partners-links {
    width: 100%;
    display: flex;
    justify-content: center;

    & .logo-container {
      width: 150px;
      height: 150px;
      /* object-fit: cover; */
      margin-inline: 100px;
    }

    & .p-logo {
      height: 100%;
      object-fit: scale-down;
    }
  }
}

/* =============== Media queries =============== */
/* higher than 1920 */
@media screen and (min-width: 1922px) {
  .navbar {
    height: 70px;
  }

  /* .logo-subtext {
    display: none;
  } */

  /* .cta-text {
      display: none;
    } */

  .nav-btn {
    padding-inline: 30px;
  }

  .header-buttons {
    width: 20%;
  }

  .header-image {
    height: 900px;
  }

  .head-text {
    font-size: 70px;
  }

  .desc-text {
    font-size: 40px;
  }

  .contacts {
    height: 30px;
    font-size: 20px;
    gap: 150px;
  }

  header {
    padding-bottom: 100px;
  }

  section {
    padding-bottom: 90px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 70px;
  }

  .upcoming-events {
    height: 650px;
  }

  .ev-text {
    margin-left: 75px;
  }

  .ev-title {
    font-size: 75px;
    line-height: 40px;
  }

  .ev-desc {
    font-size: 40px;
  }

  .ev-logo {
    height: 70%;
    width: 12%;
  }

  .dir-btns {
    height: 50px;

  }

  .ev-slider-btn {
    width: 50px;
  }

  .pop-destinations {
    height: 740px;
  }

  .dest-name {
    font-size: 32px;
  }

  .aboutus-text {
    & p {
      font-size: 22px;
    }
  }
}

/* lower than 1920 */
@media screen and (max-width: 1921px) {
  .navbar {
    height: 50px;
  }

  /* .logo-subtext {
    display: none;
  } */

  /* .cta-text {
      display: none;
    } */

  .nav-btn {
    padding-inline: 30px;
  }

  .header-buttons {
    width: 30%;
  }

  .header-image {
    height: 700px;
  }

  .head-text {
    font-size: 45px;
  }

  .desc-text {
    font-size: 24px;
  }

  .contacts {
    height: 40px;
    font-size: 18px;
    gap: 90px;
  }

  header {
    padding-bottom: 100px;
  }

  section {
    padding-bottom: 90px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 70px;
  }

  .upcoming-events {
    height: 550px;
  }

  .ev-text {
    margin-left: 70px;
  }

  .ev-title {
    font-size: 65px;
    line-height: 40px;
  }

  .ev-desc {
    font-size: 30px;
  }

  .ev-logo {
    height: 70%;
    width: 15%;
  }

  .dir-btns {
    height: 50px;

  }

  .ev-slider-btn {
    width: 50px;
  }

  .pop-destinations {
    height: 600px;
  }

  .dest-name {
    font-size: 22px;
  }

  .aboutus-text {
    & p {
      font-size: 30px;
    }
  }
}

/* lower than 1620 */
@media screen and (max-width: 1620px) {
  .navbar {
    height: 50px;
  }

  .logo-subtext {
    display: none;
  }

  /* .cta-text {
    display: none;
  } */

  .nav-btn {
    padding-inline: 30px;
  }

  .header-buttons {
    width: 30%;
  }

  .header-image {
    height: 500px;
  }

  .head-text {
    font-size: 28px;
  }

  .desc-text {
    font-size: 18px;
  }

  .contacts {
    height: 20px;
    font-size: 16px;
    gap: 50px;
  }

  header {
    padding-bottom: 60px;
  }

  section {
    padding-bottom: 60px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 50px;
  }

  .upcoming-events {
    height: 450px;
  }

  .ev-text {
    margin-left: 60px;
  }

  .ev-title {
    font-size: 55px;
    line-height: 40px;
  }

  .ev-desc {
    font-size: 25px;
  }

  .ev-logo {
    height: 70%;
    width: 15%;
  }

  .dir-btns {
    height: 40px;

  }

  .ev-slider-btn {
    width: 40px;
  }

  .pop-destinations {
    height: 500px;
  }

  .dest-name {
    font-size: 18px;
  }

  .aboutus-text {
    & p {
      font-size: 18px;
    }
  }
}

/* lower than 1200 */
@media screen and (max-width: 1200px) {
  .navbar {
    height: 50px;
  }

  .logo-subtext {
    display: none;
  }

  /* .cta-text {
    display: none;
  } */

  .nav-btn {
    padding-inline: 10px;
  }

  .header-buttons {
    width: 30%;
  }

  .header-image {
    height: 350px;
  }

  .head-text {
    font-size: 22px;
  }

  .desc-text {
    font-size: 14px;
  }

  .contacts {
    height: 20px;
    font-size: 12px;
    gap: 20px;
  }

  header {
    padding-bottom: 60px;
  }

  section {
    padding-bottom: 60px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 40px;
  }

  .upcoming-events {
    height: 450px;
  }

  .ev-text {
    margin-left: 40px;
  }

  .ev-title {
    font-size: 50px;
    line-height: 40px;
  }

  .ev-desc {
    font-size: 25px;
  }

  .ev-logo {
    height: 50%;
    width: 15%;
  }

  .dir-btns {
    height: 30px;

  }

  .ev-slider-btn {
    width: 30px;
  }

  .pop-destinations {
    height: 400px;
  }

  .dest-name {
    font-size: 14px;
  }

  .aboutus-text {
    & p {
      font-size: 16px;
    }
  }
}

/* lower than 1199 and higher than 800 */
@media screen and (max-width: 800px) {
  .navbar {
    height: 50px;
  }

  .logo-subtext {
    display: none;
  }

  .cta-text {
    display: none;
  }

  .nav-btn {
    padding-inline: 10px;
  }

  .header-buttons {
    width: 30%;
  }

  .header-image {
    height: 300px;
  }

  .head-text {
    font-size: 20px;
  }

  .desc-text {
    font-size: 12px;
  }

  .contacts {
    height: 20px;
    font-size: 12px;
    gap: 5px;
  }

  header {
    padding-bottom: 50px;
  }

  section {
    padding-bottom: 50px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 40px;
  }

  .upcoming-events {
    height: 450px;
  }

  .ev-text {
    margin-left: 35px;
  }

  .ev-title {
    font-size: 40px;
    line-height: 50px;
  }

  .ev-desc {
    font-size: 15px;
  }

  .ev-logo {
    height: 30%;
    width: 15%;
  }

  .dir-btns {
    height: 30px;

  }

  .ev-slider-btn {
    width: 30px;
  }

  .pop-destinations {
    height: 300px;
  }

  .dest-name {
    font-size: 12px;
  }

  .aboutus-text {
    & p {
      font-size: 15px;
    }
  }
}