@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0px;
  width: 100%;
}

button {
  cursor: pointer;
}

.gradient-image {
  width: inherit;
  height: inherit;
}

.learn-more-btn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: larger;
  border: 2px solid #fff;
  border-radius: 65px;
  padding: 10px;
  margin: 40px;
  width: 30%;
  height: 30%;
  text-size-adjust: auto;
}
