@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
    color: white;
}

body {
    position: relative;
    background-color: rgb(1, 6, 27);
    width: 100%;
    margin: 0px;
    display: block;
}

.header-image {
    width: 100%;
    height: 50vh;
    background-color: aquamarine;
}

main {
    margin-inline: auto;
    width: 70%;
}

section {
    width: 100%;
}

.dest-name {
    color: aquamarine;
}

.navbar {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0px;
    min-height: 40px;
    max-height: 80px;
    height: 9vh;

    .nav-top {
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-navbar {
            height: 50%;
            margin-left: 20px;

            & img {
                height: 100%;
            }
        }

        .more-nav-btn {
            /* border-width: 2px; */
            background-color: white;
            height: 50px;
            width: 50px;
            margin-right: 5px;

            & img {
                width: 90%;
            }
        }

        .nav-buttons {
            width: 40%;
            margin-inline: 20px;
            justify-content: center;
            gap: 80px;

            & a {
                text-decoration: none;
                color: black;
            }
        }
    }

    /* Side Menu */
    .nav-side {
        /* bg image */
        display: none;
        position: absolute;
        top: 9vh;
        height: 100vh;
        width: 100%;
        /* background-color: rgba(0, 0, 0, 0.35); */

        transition: all .5s;
        justify-content: flex-end;

        .snav-menu {
            height: 100%;
            width: 50%;
            background-color: #fff;
            display: flex;
            flex-direction: column;

            transition: all .2s;
            /* transform: translateX(100px); */

            & a {
                text-decoration: none;
                color: black;
                margin-left: 20px;
                margin-block: 20px;

                transition: all .2s;

                &:hover {
                    color: cadetblue;
                }
            }
        }
    }
}

.hotels-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

    .hotel-card {
        display: block;
        width: 400px;
        height: 600px;


        .hotel-img {
            background-color: blueviolet;
            height: 50%;

            & img {
                height: 100%;
            }
        }

        .context {
            display: block;
            font-size: 14px;

            .hotel-name {
                text-align: center;
            }

            .hotel-desc {
                margin-inline: 10px;
            }
        }
    }
}

@media screen and (min-width:800px) {
    .section-title {
        font-size: 70px;
    }

    .top-text {
        font-size: 50px;
    }

    .sub-text {
        font-size: 30px;
    }
}